 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/0a9d98826f6683d7892666380b7bd27f4ecc4186055d66734d4918e145eeca7db7aebf70736caa5f059783f3c0b804ded46abf1e522a7264df697f_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 851px;
}

.u-section-1 .u-group-1 {
  width: 811px;
  min-height: 637px;
  height: auto;
  margin: 134px auto 60px;
}

.u-section-1 .u-text-1 {
  margin: 187px 20px 0;
}

.u-section-1 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: 134px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 669px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-group-1 {
    width: 616px;
    min-height: 584px;
    margin-top: 184px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 282px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-icon-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 480px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 284px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-2 {
  min-height: 624px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/bd2ffc5030db8ce5de1d2052108cab5bcfffabf0d56aa70eadecf3a00faf5985c186d5d65afd78a0734bc43cc4a4bc16f00ce8fdf949c932948e08_1280.jpg");
  min-height: 624px;
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 624px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 102px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 84px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 48px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 647px;
}

.u-section-3 .u-group-1 {
  width: 805px;
  min-height: 267px;
  height: auto;
  margin: 22px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 25px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: -15px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: 11px auto 35px;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  width: 557px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-3 .u-group-1 {
    width: 664px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-image-1 {
    width: 140px;
    height: 140px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-3 .u-group-1 {
    width: 614px;
    margin-top: 35px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-1 {
    width: 107px;
    height: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 477px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 290px;
    margin: 11px auto -4px 125px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-image-1 {
    width: 101px;
    height: 101px;
  }

  .u-section-3 .u-text-4 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-1 {
    width: 85px;
    height: 85px;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/constructionsitebuildconstructionwork159306.jpeg');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
  position: relative;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 31px auto 31px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  position: relative;
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 300px;
    margin: 0 calc(((100% - 1140px) / 2) + 150px) 0 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
    margin-right: calc(((100% - 1140px) / 2) + 260px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 249px;
    margin-right: calc(((100% - 1140px) / 2) + 350px);
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 50px;
    width: 540px;
    margin-left: 24px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 901px;
    margin-right: calc(((100% - 1140px) / 2) + 450px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 53px;
    margin-bottom: 48px;
    margin-left: 50px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }
}